<div id="about">
	
	<h2 class="title">Topics in Web Programming and Design <br/> (Ruby on Rails) </h2>
	
	<%= image_tag 'rails.png', :class => "alignleft" %>
	
	<p>This course will give an introduction to the web framework Ruby on Rails.  It will cover the Ruby scripting language, basic Rails, authentication, testing, using JavaScript and Ajax in Rails applications, deployment and scaling. During the 10 weeks in class we will be building a Rails application together from scratch using test-driven development.
  </p>
  
</div>