<div id="about">
	
	<h2 class="title">Topics in Web Programming and Design <br/> (Ruby on Rails) </h2>
	
	<%= image_tag 'rails.png', :class => "alignleft" %>
	
	<p>This course will give an introduction to the web framework Ruby on Rails.  It will cover the Ruby scripting language, basic Rails, authentication, testing, using JavaScript and Ajax in Rails applications, deployment and scaling. During the 10 weeks in class we will be building a Rails application together from scratch using test-driven development.
  </p>
  
  <h3>New students:</h3>
  <p>
    Please complete the
    <%= link_to "following setup", 
                "https://s3.amazonaws.com/matt-goggin/info2310/INFO2310Setup.html", 
                :target => "_blank" %>
    before class on Wednesday.
    <br/>
    Feel free to email mg343@cornell.edu if you have any questions! 
    Looking forward to seeing you in class.
  </p>
  
  <p>
    Instructors: <br/>
    <ul>
      <li>
        <%= link_to "David Williamson", "http://www.davidpwilliamson.net/work", :target => "_blank" %>
      </li>
      <li>
        <%= link_to "Matt Goggin", "http://mattgoggin.com", :target => "_blank" %>
      </li>
    </ul>
  </p>
  
</div>