<div id="about">
  <h1>Resources</h1>
  
  <ul>
    <li>
      <%= link_to "Rails API", "http://api.rubyonrails.org/" %>
    </li>
    <li>
      <%= link_to "Rails Casts", "http://railscasts.com/" %>
    </li>
    <li>
      <%= link_to "Rails Tutorial", "http://ruby.railstutorial.org/" %>
    </li>
  </ul>
</div>