<div id="about">
  <h1>Resources</h1>
  
  <ul>
    <li>
      <%= link_to "INFO 2310 Setup", 
                  "https://s3.amazonaws.com/matt-goggin/info2310/INFO2310Setup.html", 
                  :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Rails API", "http://api.rubyonrails.org/", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "RailsCasts", "http://railscasts.com/", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Rails Tutorial", "http://ruby.railstutorial.org/", :target => "_blank" %>
    </li>
  </ul>
</div>