<div id="about">
  <h1>Syllabus</h1>
  
  <p> The course content for this course is borrowed primarily from
     <%= link_to "the Michael Hartl Ruby on Rails Tutorial.", 
                 "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book " %>
    <br/>Our lectures correspond loosely with abbreviated versions of chapters
    from the Hartl tutorial.
  </p>
  
  <ul>
    <li>Week 1 : Introduction, Tools and Development Environment</li>
    <li>Week 2 : First Models (Users and Microposts)</li>
    <li>Week 3 : Static Pages, Rendering and the Ruby console</li>
    <li>Week 4 : Layouts and Asset Pipeline</li>
    <li>Week 5 : Creating new users</li>
    <li>Week 6 : Authentication</li>
    <li>Week 7 : Updating Users</li>
    <li>Week 8 : Creating Microposts</li>
    <li>Week 9 : Following Users</li>
    <li>Week 10 : Stress Testing</li>
  </ul>
  
</div>